<% include header %>

<% include heatmap %>
	<div id="panel">
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
<div id="map-canvas"></div>

<% include footer %>